body {
  background: #ecf0f1;
}

div.App {
  div.menu {
    a.header, a.header:hover {
      background-image: url('./edu-logo.png');
      background-repeat: no-repeat;
      background-size: 32px 32px;
      background-position: left center;
      padding-left: 32px;
    }
  }
}

div#Main {
  div.container {
    background: white;
    padding: 25px;
    border-radius: 5px;
  }
}


.footer {
  padding: 15px 0;
  color: #888;
  font-size: 13px;
}
