body {
  background: #ecf0f1;
}

// ***Nav-bar START***

div.App {
  div.menu {
    .item:before {
      background: none;
    }
    img {
      width: 3em !important;
      margin-left: 0.7em !important
    }
    div.row.main-nav {
      padding-bottom: 0;
      div.right.menu {
        padding-right: 20px;
      }
    }
    div.row.secondary-nav {
      padding-top: 0;
      padding-left: 0.7em;
    }
    div.right {
      div.search-bar {
        margin-right: 20px;
        input {
          border-radius: 30px !important;
          height: 60%;
          margin-top: 7% !important;
        }
      }
      div.dropdown {
        div.transition {
          div.item {
            border-bottom: 1px solid rgba(34,36,38,.1);
            svg {
              margin-right: 12px;
              margin-bottom: -3px;
            }
            span.balance-nav {
              span.fraction {
                font-size: 50%;
              }
            }
            svg.edu-token {
              margin-right: 2px;
              margin-left: 30px;
            }
          }
        } 
      }
    }
    .grid {
      width: 102%;
    }
  }
}

// ***Nav-bar END***

div#Main {
  div.container {
    background: white;
    padding: 25px;
    border-radius: 5px;
    padding-top: 170px;
  }
}


.footer {
  padding: 15px 0;
  color: #888;
  font-size: 13px;
}
