const Config = {
  network: {
    nodeUrl: 'https://mainnet.infura.io/',
    chainId: 0x01,
    bdnUrl: 'http://localhost:8000/',
    bdnWebsocket: 'ws://localhost:8000/',
    etherscanUrl: 'https://kovan.etherscan.io/',
  },
  ipfs: {
    host: 'ipfs.infura.io',
    port: 5001,
    protocol: {
        protocol: 'https'
    },
  },
  blockchain: {
    storageAddress: '0x2A22e' // Needs to be filled in
  },
  token: {
    contractAddress: '0x2A22e5cCA00a3D63308fa39f29202eB1b39eEf52',
  },
};

export default Config;
